In [ ]:
# !pip install langchain
# !pip install google-generativeai
# !pip install langchain --upgrade
# !pip install snowflake-connector-python
# !pip install psycopg2
# !pip install sentence-transformers
# !pip install langchain_experimental
# !pip install sqlalchemy
# !pip install chromadb

## 1. Connecting to database & Initilizing llm components

In [ ]:
from langchain_experimental.sql import SQLDatabaseChain
from langchain.utilities import SQLDatabase
from langchain.llms import GooglePalm

# Google Language Model setup
api_key = 'AIzaSyB-Ue-f2l-KuRXlX24_sVBfBXKHgJP33gM'
llm = GooglePalm(google_api_key=api_key, temperature=0.2)
# poem = llm('write a poem for dosa')
# print(poem)

# SQL Database setup
db_user = 'tushar'
db_password = 'Tushar12'
db_host = 'localhost'
db_name = 'LLM'
db_uri = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}/{db_name}"
database = SQLDatabase.from_uri(db_uri)

# SQL Database Chain setup
db_chain = SQLDatabaseChain.from_llm(llm, database, verbose=True)

In [ ]:
print(database.table_info)

CREATE TABLE discounts (
	discount_id INTEGER DEFAULT nextval('discounts_discount_id_seq'::regclass) NOT NULL,
	t_shirt_id INTEGER NOT NULL,
	pct_discount NUMERIC(5, 2),
	CONSTRAINT discounts_pct_discount_check CHECK (pct_discount >= 0::numeric AND pct_discount <= 100::numeric)
)

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE locations (
	location_id INTEGER,
	location_name VARCHAR(50),
	city VARCHAR(50),
	state VARCHAR(2)
)

/*
3 rows from locations table:
location_id	location_name	city	state
1	Warehouse A	New York	NY
2	Warehouse B	Los Angeles	CA
3	Warehouse C	Chicago	IL
*/


CREATE TABLE orders (
	order_id INTEGER,
	customer_id INTEGER,
	product_name VARCHAR(50),
	quantity INTEGER,
	order_date DATE,
	location_id INTEGER,
	order_amount NUMERIC(10, 2)
)

/*
3 rows from orders table:
order_id	customer_id	product_name	quantity	order_date	location_id	order_amount
1	101	Product A	3	2023-08-15	1	150.00
2	102	Product B	2	2023-08-15	2	120.00
3	101	Product C	1	2023-08-16	3	60.00
*/


CREATE TABLE t_shirts (
	t_shirt_id SERIAL NOT NULL,
	brand VARCHAR(50) NOT NULL,
	color VARCHAR(20) NOT NULL,
	size VARCHAR(2) NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	CONSTRAINT t_shirts_pkey PRIMARY KEY (t_shirt_id),
	CONSTRAINT brand_color_size UNIQUE (brand, color, size),
	CONSTRAINT t_shirts_brand_check CHECK (brand::text = ANY (ARRAY['Van Huesen'::character varying, 'Levi'::character varying, 'Nike'::character varying, 'Adidas'::character varying]::text[])),
	CONSTRAINT t_shirts_color_check CHECK (color::text = ANY (ARRAY['Red'::character varying, 'Blue'::character varying, 'Black'::character varying, 'White'::character varying]::text[])),
	CONSTRAINT t_shirts_price_check CHECK (price >= 10 AND price <= 50),
	CONSTRAINT t_shirts_size_check CHECK (size::text = ANY (ARRAY['XS'::character varying, 'S'::character varying, 'M'::character varying, 'L'::character varying, 'XL'::character varying]::text[]))
)

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Van Huesen	Red	M	25	50
2	Van Huesen	Red	XS	25	100
3	Levi	Blue	S	30	75
*/

## 2. Prompting with GooglePalm

In [ ]:
qns1 = db_chain("How many orders are placed on 2023-08-15")

> Entering new SQLDatabaseChain chain...
How many orders are placed on 2023-08-15
SQLQuery:SELECT count(*) FROM orders WHERE order_date = '2023-08-15'
SQLResult: [(2,)]
Answer:2
> Finished chain.

In [ ]:
qns1
#ok

{'query': 'How many orders are placed on 2023-08-15', 'result': '2'}

In [ ]:
qns2 = db_chain("How many total quantity orders are placed on 2023-08-15")

> Entering new SQLDatabaseChain chain...
How many total quantity orders are placed on 2023-08-15
SQLQuery:SELECT SUM(quantity) FROM orders WHERE order_date = '2023-08-15'
SQLResult: [(5,)]
Answer:5
> Finished chain.

In [ ]:
qns2
# ok

{'query': 'How many total quantity orders are placed on 2023-08-15',
 'result': '5'}

In [ ]:
qns3 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:100
> Finished chain.

In [ ]:
qns3
# wrong its 0

{'query': 'How many t-shirts do we have left for nike in extra small size and white color?',
 'result': '100'}

In [ ]:
qns4 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'XS'
SQLResult: [(4150,)]
Answer:

Retrying langchain.llms.google_palm.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ServiceUnavailable: 503 The service is currently unavailable..

4150
> Finished chain.

In [ ]:
qns4
#ok

'14034'

In [ ]:
qns5 = db_chain("How many IS THE INVENTORY FOR LOCATION ID 1")
## IT FAILED TO UNDERSTAND TABLE

> Entering new SQLDatabaseChain chain...
How many IS THE INVENTORY FOR LOCATION ID 1
SQLQuery:SELECT SUM(stock_quantity) FROM t_shirts WHERE location_id = 1

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "location_id" does not exist
LINE 1: SELECT SUM(stock_quantity) FROM t_shirts WHERE location_id =...
                                                       ^

[SQL: SELECT SUM(stock_quantity) FROM t_shirts WHERE location_id = 1]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
qns6 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")
# retured wrong query like considering discount start date which dodent exists

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(t_shirts.price * (1 - discounts.pct_discount))
FROM t_shirts
JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id
WHERE t_shirts.brand = 'Levi' AND t_shirts.stock_quantity > 0 AND CURRENT_DATE BETWEEN discounts.start_date AND discounts.end_date

ProgrammingError: (psycopg2.errors.UndefinedColumn) column discounts.start_date does not exist
LINE 4: ...hirts.stock_quantity > 0 AND CURRENT_DATE BETWEEN discounts....
                                                             ^

[SQL: SELECT SUM(t_shirts.price * (1 - discounts.pct_discount))
FROM t_shirts
JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id
WHERE t_shirts.brand = 'Levi' AND t_shirts.stock_quantity > 0 AND CURRENT_DATE BETWEEN discounts.start_date AND discounts.end_date]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:

sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qns6 = db_chain.run(sql_code)
# expected query

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('17678.00000000000000000000'),)]
Answer:17678.00
> Finished chain.

In [ ]:
qns7 = db_chain.run("How many white color Adidas t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Adidas t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'
SQLResult: [(80,), (88,), (120,)]
Answer:88
> Finished chain.

In [ ]:
qns7
# wrong - It should have summed

'80'

## 3. Few Shot Learning - Intitilizing data for traning llm

In [ ]:
fsl1 = db_chain.run("How many t-shirts do we have left for Nike in XS size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for Nike in XS size and white color?
SQLQuery:

Retrying langchain.llms.google_palm.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised ServiceUnavailable: 503 The service is currently unavailable..

SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:100
> Finished chain.

In [ ]:
fsl2 = db_chain.run("How much is the total price of the inventory for all S-size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the total price of the inventory for all S-size t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(14034,)]
Answer:14034
> Finished chain.

In [ ]:
fsl3 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT SUM(t_shirts.price * (1 - discounts.pct_discount))
FROM t_shirts
JOIN discounts ON discounts.t_shirt_id = t_shirts.t_shirt_id
WHERE t_shirts.brand = 'Levi' AND t_shirts.stock_quantity > 0 AND discounts.pct_discount > 0
SQLResult: [(Decimal('-1875.00'),)]
Answer:-1875.00
> Finished chain.

In [ ]:
fsl4 = db_chain.run("If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE brand = 'Levi' AND stock_quantity > 0
SQLResult: [(222,)]
Answer:222
> Finished chain.

In [ ]:
fsl5 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'
SQLResult: [(353,)]
Answer:353
> Finished chain.

In [ ]:
fsl6 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'Red'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'Red'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'Red'
SQLResult: [(245,)]
Answer:245
> Finished chain.

In [ ]:
fsl7 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'
SQLResult: [(288,)]
Answer:288
> Finished chain.

In [ ]:
few_shots = [
    {'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer' : fsl1},
    {'Question': "How much is the total price of the inventory for all S-size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': fsl2},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
        (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
        group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
        """,
     'SQLResult': "Result of the SQL query",
     'Answer': fsl3} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : fsl4},
    {'Question': "How many Blue color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'",
     'SQLResult': "Result of the SQL query",
     'Answer' : fsl5
     },
     {'Question': "How many Red color Van Huesen shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'Red'",
     'SQLResult': "Result of the SQL query",
     'Answer' : fsl6
     },
     {'Question': "How many White color Adidas shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : fsl7
     },
]

## 4. Embeding few_shots tranining data

In [ ]:
#combined code
from langchain.embeddings import HuggingFaceEmbeddings

# Use a HuggingFace model with a matching dimension (e.g., 'bert-base-uncased' with 768 dimensions)
# embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')  with 384 dimensions)
embeddings = HuggingFaceEmbeddings(model_name='bert-base-uncased')

# Create a list of texts from the 'few_shots' examples
to_vectorize = [" ".join(example.values()) for example in few_shots]

No sentence-transformers model found with name /home/ubuntu/.cache/torch/sentence_transformers/bert-base-uncased. Creating a new one with MEAN pooling.

In [ ]:
to_vectorize[4]

"How many Blue color Levi's shirt I have? SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue' Result of the SQL query 353"

## 5. Creating vector Database to store embedded data

In [ ]:
# Create a Chroma vector store
from langchain.vectorstores import Chroma

vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [ ]:
## validating similarity of trained data

from langchain.prompts import SemanticSimilarityExampleSelector

example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How many Blue color Levi's shirt I have?"})

[{'Answer': '353',
  'Question': "How many Blue color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '353',
  'Question': "How many Blue color Levi's shirt I have?",
  'SQLQuery': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'Blue'",
  'SQLResult': 'Result of the SQL query'}]

## 7 Finetuning Model with existing & newly trained data

In [ ]:
## giving instructions to llms
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _postgres_prompt

print(_postgres_prompt)
print("------------------------------------")
print(PROMPT_SUFFIX)

You are a PostgreSQL expert. Given an input question, first create a syntactically correct PostgreSQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per PostgreSQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURRENT_DATE function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here


------------------------------------
Only use the following tables:
{table_info}

Question: {input}

In [ ]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
from langchain.prompts import FewShotPromptTemplate

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=_postgres_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [ ]:
new_chain = SQLDatabaseChain.from_llm(llm, database, verbose=True, prompt=few_shot_prompt)

## 8 Trying out latest finetuned model

In [ ]:
new_chain("Total stock_quantity of Adidas tshirt in White color I have?")

> Entering new SQLDatabaseChain chain...
Total stock_quantity of Adidas tshirt in White color I have?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Adidas' AND color = 'White'
SQLResult: [(80,), (88,), (120,)]
Answer:80
> Finished chain.

{'query': 'Total stock_quantity of Adidas tshirt in White color I have?',
 'result': '80'}

In [ ]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT sum(price * stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(14034,)]
Answer:14034
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '14034'}

In [ ]:
new_chain("How much is the price of all white color levi t shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of all white color levi t shirts?
SQLQuery:SELECT sum(price) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(None,)]
Answer:None
> Finished chain.

{'query': 'How much is the price of all white color levi t shirts?',
 'result': 'None'}

In [ ]:
new_chain("If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(t_shirts.price * (1 - discounts.pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE t_shirts.brand = 'Nike' AND t_shirts.stock_quantity > 0
SQLResult: [(Decimal('-3972.00'),)]
Answer:-3972.00
> Finished chain.

{'query': 'If we have to sell all the Nike’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '-3972.00'}

In [ ]:
new_chain("If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?
SQLQuery:SELECT sum(price * (1 - pct_discount)) FROM discounts JOIN t_shirts ON discounts.t_shirt_id = t_shirts.t_shirt_id WHERE brand = 'Van Huesen'
SQLResult: [(Decimal('-755.00'),)]
Answer:-755.00
> Finished chain.

{'query': 'If we have to sell all the Van Heuson T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?',
 'result': '-755.00'}

In [ ]:
new_chain.run('How much revenue  our store will generate by selling all Van Heuson TShirts without discount?')

> Entering new SQLDatabaseChain chain...
How much revenue  our store will generate by selling all Van Heuson TShirts without discount?
SQLQuery:SELECT sum(price*stock_quantity) as total_revenue from t_shirts where brand = 'Van Huesen'
SQLResult: [(14135,)]
Answer:14135
> Finished chain.

'14135'

In [ ]:
new_chain.run('How much IS THE order amount FOR LOCATION ID 1?')

> Entering new SQLDatabaseChain chain...
How much IS THE order amount FOR LOCATION ID 1?
SQLQuery:SELECT order_amount FROM orders WHERE location_id = 1
SQLResult: [(Decimal('150.00'),), (Decimal('180.00'),), (Decimal('120.00'),)]
Answer:150.00
> Finished chain.

'150.00'

In [ ]:
new_chain.run('If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"')

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?"
SQLQuery:SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
       (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
       group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('17678.00000000000000000000'),)]
Answer:17678.0
> Finished chain.

'17678.0'